* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #d2dbdd;
}

.heading-style {
  padding: 30px 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: rgb(240, 233, 233);
  font-size: 2rem;
  margin-bottom: 30px;
}
.slot_inner {
  text-align: center;
  color: black;
}
